body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #27267b;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;
    padding-top: 100px;
}
.free, .pro, .enterprise{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: aliceblue;
    box-shadow: #7574b3 0px 1px 3px, #7574b3 0px 1px 2px;
}
.free h2, .pro h2, .enterprise h2{
    text-transform: uppercase;
}
.num{
    font-size: 44px;
    margin: 10px 0;
}
.free ul, .pro ul, .enterprise ul{
    list-style:none;
    padding: 0;
}
.free ul li, .pro ul li, .enterprise ul li{
    margin: 10px 0;
    align-self: left;
}
.pro h2{
    background: linear-gradient(to right, #376af7, #3af133);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.enterprise h2{
    background: linear-gradient(to right, #f75e37, #e47bfe);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.free sup, .pro sup, .enterprise sup{
    font-size: 12px;
    margin-right: 5px;
}
.free sub, .pro sub, .enterprise sub{
    display: inline;
    font-size: 12px;
    margin-left: 5px;
}
a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c9c9da;
    color: rgb(6, 1, 31);
    text-decoration: none;
    border-radius: 5px;
}
a:hover,.a-primary{
    background-color: #3f729c;
    border: #27267b 1px solid;
}
.a-primary:hover{
    background-color: #c9c9da;
    color: rgb(6, 1, 31);
}